<section id="contact">
  <!-- <h2>Get in touch with me</h2>
  <p>
    Looking to transform ideas into visually stunning experiences? Let&quot;s
    connect and craft something unique together. I&quot;m passionate about
    turning concepts into impactful designs.
  </p>

  <div>
    <div><i>email_icon</i>hafidnurazis@gmail.com</div>
    <div><i>linkedin_icon</i>LinkedIn</div>
    <div><i>pin_icon</i>Semarang, Jawa Tengah</div>
  </div> -->

  <!-- TODO: Form Contact me -->
  <!-- <div class="flex flex-col bg-black px-6 text-white">
    <form action="">
      <div>
        <label for="">Name</label>
        <input type="text" placeholder="Your Name" />
      </div>
      <div>
        <label for="">Email</label>
        <input type="text" placeholder="Your Name" />
      </div>
      <div>
        <label for="">Description</label>
        <textarea name="" id="" placeholder="Description"></textarea>
      </div>
      <button>Send Message</button>
    </form>
  </div> -->
</section>
