<section class="flex min-h-[calc(100vh-8rem)] w-full justify-center">
  <div
    class="container grid-cols-2 border-x border-gray-200 px-6 pt-11 pb-24 md:grid"
  >
    <div class="flex flex-col gap-6">
      <h1 class="font-serif text-6xl select-none">Hello👋</h1>
      <p class="text-lg text-gray-500">
        Hello, I'm <b class="text-black">Hafid Nur</b>, an Informatics
        Engineering student at Universitas Dian Nuswantoro, focusing on software
        development, AI, and system design.
      </p>
      <div class="flex flex-row gap-6">
        <a
          href="https://hafidnrzs.hashnode.dev/"
          target="_blank"
          class="bg-black px-6 py-3 text-white">Read my blog</a
        >
      </div>
      <div class="flex flex-col gap-2 md:mt-6">
        <span class="text-center font-semibold md:text-start"
          >Contact me at</span
        >
        <div class="flex justify-center gap-0 md:justify-start">
          <a
            href="https://www.linkedin.com/in/hafidnrzs/"
            target="_blank"
            class="hover: border-e pe-4">LinkedIn</a
          >
          <a
            href="https://github.com/hafidnrzs"
            target="_blank"
            class="border-e px-4">GitHub</a
          >
          <a
            href="https://instagram.com/hafidnrzs"
            target="_blank"
            class="border-e px-4">Facebook</a
          >
          <a href="" target="_blank" class="px-4">Email</a>
        </div>
      </div>
    </div>
    <div>
      <!-- TODO: Illustration -->
    </div>
  </div>
</section>
