<!-- TODO: Portfolio section -->
<section id="portfolio" class="flex flex-col bg-black px-6 text-white">
  <!-- <h2>PORTFOLIO</h2>
  <div>My Portfolio Design</div>
  <p>
    My portfolio and various projects that I have worked on as software
    engineer.
  </p> -->
  <!-- TODO: Card view list portfolio -->
</section>
